/* Start Variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #eeeeee;
  --main-transition: 0.3s;
  --text-color: #777;
  --text-height: 1.7;
}
/* End Variables */
/* Start Global Rules  */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.main-title {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 100px;
}
.main-title h2 {
  margin: 0;
  font-size: 90px;
  font-weight: 800;
  color: #d6d6d6;
}
.main-title p {
  margin-top: -15px;
  color: #797979;
  font-size: 18px;
  letter-spacing: 1px;
}
@media (max-width: 767px) {
  .main-title h2 {
    font-size: 60px;
  }
  .main-title p {
    font-size: 12px;
    margin-top: -5px;
  }
}
/* End Global Rules  */
/* Start Header */
.header {
  padding: 10px 0;
  background-color: white;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header img {
  cursor: pointer;
}
.header .nav {
  position: relative;
  transition: var(--main-transition);
  left: -15px;
}
.header .nav:hover ul {
  display: block;
}
.header .nav .span {
  width: 30px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  cursor: pointer;
}
.header .nav .span span {
  width: 100%;
  height: 2px;
  background-color: black;
  margin-bottom: 5px;
}
.header .nav .span span:nth-child(2) {
  width: 60%;
  transition: var(--main-transition);
}
.header .nav:hover .span span:nth-child(2) {
  width: 100%;
}
.header .nav ul {
  width: 180px;
  background-color: var(--section-background);
  position: absolute;
  right: 0;
  top: 35px;
  display: none;
  z-index: 1;
}
.header .nav ul::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent var(--section-background) transparent;
  top: -20px;
  right: 5px;
}
.header .nav ul li {
  padding: 15px 20px;
  transition: var(--main-transition);
  cursor: pointer;
}
.header .nav ul li:hover {
  background-color: rgb(163, 163, 163);
  padding-left: 30px;
}
.header .nav ul li:not(:last-of-type) {
  border-bottom: 1px solid #ddd;
}
.header .nav ul a li {
  color: #333;
  font-size: 18px;
}
/* End Header */
/* Start Landing */
.landing {
  background-image: url(../images/IMG_20220515_163808.jpg);
  background-size: cover;
  height: calc(100vh - 71px);
  position: relative;
}
.landing .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  padding: 0 10px;
}
.landing .container h2 {
  margin: 0;
  font-size: 55px;
  color: var(--main-color);
}
.landing .container p {
  font-size: 25px;
  color: #8bc34a;
}
@media (max-width: 767px) {
  .landing .container h2 {
    font-size: 40px;
  }
  .landing .container p {
    font-size: 20px;
  }
}
/* End Landing */
/* Start Features */
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}
.features .container .box {
  text-align: center;
}
.features .container .box i {
  color: var(--main-color);
}
.features .container .box .text h2 {
  font-size: 20px;
  font-weight: 800;
}
.features .container .box .text p {
  color: var(--text-color);
  line-height: var(--text-height);
}
/* End Features */
/* Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}
.services .container .box .content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 10%;
  padding: 10px;
}
@media (max-width: 767px) {
  .services .container .box .content {
    flex-direction: column;
    text-align: center;
  }
}
.services .container .box .content i {
  color: var(--main-color);
}
.services .container .box .content .text h2 {
  font-weight: 800;
  font-size: 25px;
  margin: 0;
}
.services .container .box .content .text p {
  line-height: var(--text-height);
  color: var(--text-color);
}
.services .container .box .image {
  position: relative;
}
.services .container .box .image::before {
  content: "";
  position: absolute;
  height: calc(100% + 100px);
  width: 90px;
  right: 50px;
  top: -50px;
  background-color: var(--secondary-color);
  z-index: -1;
}
@media (min-width: 650px) and (max-width: 1199px) {
  .services .container .box .image::before {
    display: none;
  }
  .services .container .box img {
    display: none;
  }
}
@media (max-width: 767px) {
  .services .container {
    gap: 0;
  }
  .services .container .box .image {
    text-align: center;
  }
  .services .container .box .image::before {
    display: none;
  }
}
.services .container .box .image img {
  width: 260px;
}
/* End Services */
/* Start Portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #f6f6f6;
}
.portfolio .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}
.portfolio .container .box {
  background-color: white;
}
.portfolio .container .box img {
  width: 100%;
}
.portfolio .container .box .text {
  padding: 20px;
}
.portfolio .container .box .text h2 {
  margin: 0;
  font-weight: 800;
}
.portfolio .container .box .text p {
  line-height: var(--text-height);
  color: var(--text-color);
}
/* End Portfolio */
/* Start About */
.about {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.about .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20%;
  padding-left: 5%;
}
@media (max-width: 767px) {
  .about .container {
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  .about .container {
    gap: 5%;
  }
}
.about .container .image {
  position: relative;
}
.about .container .image::before {
  content: "";
  position: absolute;
  background-color: #dddddd;
  width: 80px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}
.about .container .image::after {
  content: "";
  position: absolute;
  border-left: 90px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  height: 70%;
  width: 100px;
  right: -140px;
  top: -40px;
  z-index: -1;
}
@media (max-width: 992px) {
  .about .container .image::before,
  .about .container .image::after {
    display: none;
  }
}
.about .container img {
  width: 250px;
  height: 430px;
}
@media (max-width: 767px) {
  .about .container .text {
    margin-top: 30px;
  }
}
.about .container .text {
  width: 100%;
}
.about .container .text p:first-child {
  font-weight: 800;
  line-height: var(--text-height);
}
.about .container .text hr {
  border-color: var(--main-color);
  width: 50%;
  margin: 0;
}
.about .container .text p:last-child {
  color: var(--text-color);
  line-height: var(--text-height);
}
@media (max-width: 767px) {
  .about .container .text p {
    text-align: center;
  }
  .about .container .text hr {
    margin: auto;
  }
}
/* End About */
/* Start Contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.contact .container {
  text-align: center;
}
.contact .container h2 {
  color: var(--secondary-color);
  font-size: 40px;
  font-weight: 800;
  letter-spacing: -3px;
}
.contact .container > a {
  color: var(--main-color);
  font-size: 35px;
  font-weight: 800;
}
.contact .container .social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 30px;
  font-size: 22px;
}
@media (max-width: 767px) {
  .contact .container h2 {
    font-size: 23px;
    letter-spacing: -1px;
  }
  .contact .container > a {
    font-size: 20px;
  }
  .contact .container .social {
    font-size: 16px;
  }
}
.contact .container .social p {
  font-weight: 800;
}
.contact .container .social .icons i {
  color: var(--secondary-color);
  padding: 0 5px;
  transition: 0.6s;
}
.contact .container .social .icons i:hover {
  color: var(--main-color);
}
/* End Contact */
/* Start Footer */
.footer {
  padding: 30px 20px;
  background-color: var(--secondary-color);
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: 900;
}
.footer span {
  color: var(--main-color);
}
/* End Footer */
